@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--breakpoint-xxl: 1400px;
}

@font-face {
	font-family: 'Digital-7';
	font-display: swap;
	src: url('/fonts/digital-7/digital_7_mono.ttf') format('truetype');
}

@font-face {
	font-family: 'Digital-7';
	font-display: swap;
	font-style: italic;
	src: url('/fonts/digital-7/digital_7_mono_italic.ttf') format('truetype');
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'DM Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	@apply overflow-x-hidden;
	/* background: conic-gradient(from -270deg at 75% 110%, #ff00ff7a, floralwhite); */

	background: url(/img/bg6.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

@layer components {
	.button {
		@apply select-none cursor-pointer rounded-xl
		block px-3 py-2 shadow outline-none backdrop-blur-lg
		backdrop-filter m-1 bg-gradient-to-r
        overflow-hidden focus:shadow-lg hover:shadow-lg
		 from-blue-400 to-blue-500
		  hover:from-blue-500 hover:to-blue-600
		 active:from-blue-600 active:to-blue-700 text-white;
		transition-property: background-image, background, background-color, box-shadow, color;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}
}
